* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.6;
    background-color: #90cef5;
    font-family: Arial, sans-serif;
  }

  .container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px 40px;
    background-color: #f2faf2;
    border-radius: 10px;
  }
  
  h1,h2 {
    font-family: Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: 700;
    color: #0a6af0d2;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
  }
  label {
    font-weight: bold;
    color: rgba(2, 5, 19, 0.957);
  }
  
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .heading {
    background: #faf6f6;
    padding: 1rem;
    text-align: center;
  }
  
  ul {
    list-style: none;
  }
  
  ul li {
    padding: 3px;
    background: #f4f4f4;
    margin: 5px 0;
  }
    
  #my-form {
    padding: 2rem;
    background: #f4f4f4;
  }
  
  #my-form label {
    display: block;
  }
  
  #my-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: #07f74f;
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #0eb440;
  }
  .fgtBtn {
    text-align: center;
    float: right;
    padding: 7px 10px;
    border: 0;
    background: #e10c0c;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }

  .fgtBtn:hover {
    background: #0eb440;
  }

  .fgttBtn {
    text-align: center;
    padding: 7px 10px;
    border: 0;
    margin: 6px;
    background: #3d48e7;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
  }

  .fgttBtn:hover {
    background: #0eb440;
  }

  .leave {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #a30c0a;
      color: #fff;
      border: none;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #ccc;  
      font-size: larger;
      font-family: Georgia, 'Times New Roman', Times, serif;  
    }
    
    .leave:hover {
      background-color: #599347;
    }    
  
    .form-group {
      margin-bottom: 15px;
    }
    
    .form-select {
      margin-top: 20px;
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      line-height: 1.5;
      color: white;
      background-color: #3d48e7;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 8px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      cursor: pointer;
    }
    
    .form-select:focus {
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    .list-group {
      overflow-x: auto;
    }

    .list-group li {
      max-width: 300px; /* Adjust the value as needed */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #topLeftButton {
      position: fixed;
      top: 10px;
      left: 10px;
      background-color: #2613d8;
        color: #fff;
        border: none;
        cursor: pointer;
        padding: 6px;
        border-radius: 6px;
        border: 1px solid #ccc;  
        font-size: large;
        font-family: Georgia, 'Times New Roman', Times, serif;  
      }
      
      #topLeftButton:hover {
        background-color: #599347;
      } 

      .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #df9494;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        z-index: 9999;
        width: 400px;
        max-width: 90%;
      }
      
      .popup form {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }
      
      .popup .form-group {
        margin-bottom: 15px;
      }
      
      .popup label {
        margin-bottom: 5px;
        display: block;
      }
      
      .close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
        color: #888;
      }
      
      .close:hover {
        color: #000;
      }  
      
      .checkbox-container {
        margin-bottom: 10px; /* Adjust the margin as needed */
      }
      
      input[type="checkbox"] {
        margin-right: 5px; /* Adjust the margin as needed */
      }
      
    @media screen and (max-width: 601px) {
      #log {
        font-size: medium;
        padding: 8px;
      }
    }
    
  
  